.footer {
  max-width: 1358px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 171px;
  font-family: Cabinet Grotesk, "serif";
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
